/* 
 * BASE: RESET & GLOBAL
 * Reset e estilos globais para o portfólio
 */

/* Reset e estilos globais */


html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family-base);
    color: var(--color-text);
    line-height: var(--line-height-normal);
    background-color: var(--color-background);
    overflow-x: hidden;
}



/* Animações */
.will-animate {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.is-visible {
    opacity: 1;
    transform: translateY(0);
}
